version: "3.9"
name: orbit

services:
  orbit_backend:
    container_name: orbit_backend
    build: ./orbit_backend
    env_file: ./orbit_backend/.env.local
    restart: always
    command: >
      bash -c "sleep 5 && gunicorn orbit_backend.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120"
    # command: >
    #   bash -c "sleep 5 && python manage.py runserver_plus --cert-file /certs/orbitlearning.local.pem --key-file /certs/orbitlearning.local-key.pem 0.0.0.0:8000"
    volumes:
      - ./orbit_backend:/app    
      - ./certs:/certs
    ports:
      - "8000:8000"
    depends_on: [orbit_db, orbit_redis]
    # depends_on:
    #   - orbit_db
    networks:
      - orbitnet
    


  orbit_frontend:
    container_name: orbit_frontend
    build: ./orbit_frontend
    command: node server.mjs
    env_file: ./orbit_frontend/.env.local
    environment:
      - NODE_OPTIONS=--max-old-space-size=8192
    volumes:
      - ./orbit_frontend:/app   
      - /app/node_modules       # avoid overwriting node_modules
      - ./certs:/certs
    ports:
      - "3000:3000"
    depends_on:
      - orbit_backend
    networks:
      - orbitnet

  orbit_nginx:
    build: ./nginx
    container_name: orbit_nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - ./nginx/orbit.conf:/etc/nginx/conf.d/default.conf:ro
      - ./orbit_backend/media:/app/media
      - ./orbit_backend/static:/app/static
      - ./certs:/certs
    depends_on:
      - orbit_backend
    networks:
      - orbitnet


  orbit_db:
    container_name: orbit_db
    image: postgres:15
    restart: always
    env_file: ./orbit_backend/.env.local
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - orbitnet

  orbit_redis:
    image: redis:7-alpine
    container_name: orbit_redis
    restart: always
    ports:
      - "6379:6379"


volumes:
  pgdata:

networks:
  orbitnet:
    external: true

