version: "3.9"
name: orbit

services:
  orbit_backend:
    container_name: orbit_backend
    build:
      context: .
      dockerfile: orbit_backend/Dockerfile.local
    env_file: ./orbit_backend/.env.local
    restart: always
    command: >
      bash -c "sleep 5 && gunicorn orbit_backend.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120"
    volumes:
      - ./orbit_backend:/app    
      - ./certs:/certs
    ports:
      - "8000:8000"
    depends_on: [orbit_db, orbit_redis]
    networks:
      - orbitnet
    
  orbit_frontend:
    container_name: orbit_frontend
    build:
      context: .
      dockerfile: orbit_frontend/Dockerfile.local
    command: npm run dev
    env_file: ./orbit_frontend/.env.local
    environment:
      - NODE_OPTIONS=--max-old-space-size=8192
    volumes:
      - ./orbit_frontend:/app   
      - ./shared_frontend:/app/shared_frontend
      - /app/node_modules       # avoid overwriting node_modules
      - ./certs:/certs
    ports:
      - "3000:3000"
    depends_on:
      - orbit_backend
    networks:
      - orbitnet

  orbit_nginx:
    build: ./nginx
    container_name: orbit_nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - ./nginx/orbit.local.conf:/etc/nginx/conf.d/default.conf:ro
      - ./orbit_backend/media:/app/media
      - ./orbit_backend/static:/app/static
      - ./certs:/certs
    depends_on:
      - orbit_backend
    networks:
      - orbitnet

  orbit_db:
    container_name: orbit_db
    image: postgres:15
    restart: always
    env_file: ./orbit_backend/.env.local
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - orbitnet

  orbit_redis:
    image: redis:7-alpine
    container_name: orbit_redis
    restart: always
    ports:
      - "6379:6379"

  novaword_frontend:
    build:
      context: .
      dockerfile: novaword/novaword_frontend/Dockerfile.local
    container_name: novaword_frontend
    command: npm run dev
    ports:
      - "3001:3000"
    env_file: ./novaword/novaword_frontend/.env.local
    volumes:
      - ./novaword/novaword_frontend:/app
      - /app/node_modules 
      - ./certs:/certs:ro
      - ./shared_frontend:/shared_frontend
    networks:
      - orbitnet


volumes:
  pgdata:

networks:
  orbitnet:
    external: true

